@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Tangerine:wght@700&display=swap');
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: papayawhip;
    font-family: "Poppins", sans-serif;
}
nav {
    position: absolute;
    display: flex;
    padding: 3% 10%;
    justify-content: space-between;
    width: 100%;
    opacity: 0.8;
}
nav h4 {
    display: flex;
    align-items: center;
}
.asset-credits {
    padding-left: 0.5rem;
    font-size: 0.5rem;
}
a {
    text-decoration: none;
}
#night, #sunrise {
    position: absolute;
    z-index: 5;
    font-size: 1rem;
    padding: 3%;
}
#night {
    background: -webkit-linear-gradient(deepskyblue, #fc7174, #eb6859, #fc8862, #fda26b, #fdbb63);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#sunrise {
    background: -webkit-linear-gradient(#141852, #483475, #855988, #FFAF00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.night {
    height: 100vh;
    width: 100%;
    background-image: url("imgs/clouds-night-2.png"), url("imgs/clouds-night-3.png"), linear-gradient(#141852, #483475, #855988, #FFAF00);
}
.moon {
    width: 5%;
    position: absolute;
    top: 5%;
    left: 70%;
    will-change: transform;
}
.bg1, .city, .clouds-night {
    width: 100%;
    position: absolute;
    height: 100vh;
    object-fit: cover;
    will-change: transform;
}
.night-title {
    position: absolute;
    top: 30%;
    left: 50%;
    font-size: 6rem;
    transform: translate(-50%, -30%);
    z-index: 2;
    will-change: transform;
}
.content {
    width: 100%;
    background-color: darkslategrey;
    background-image: url("imgs/clouds-tileable.png"), url("imgs/clouds-tileable-pink.png");
    min-height: 50vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    position: relative;
}
.text {
    padding: 2rem 20rem;
    font-size: 1.5rem;
    background: -webkit-linear-gradient(#eeaeca, #6496e3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    z-index: 4
}
.wing {
    position: absolute;
    width: 30%;
    left: 100%;
    bottom : 0;
}
.sunrise {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url("imgs/clouds-sunrise-2.png"), linear-gradient(deepskyblue, #fc7174, #eb6859, #fc8862, #fda26b, #fdbb63);
    //background-image: linear-gradient(#fdbb63, #fda26b, #fc8862, #eb6859, #fc7174);
    overflow-y: hidden;
}
.sun {
    position: absolute;
    width: 40%;
    left: 0;
    z-index: 1;
    top: 10%;
    will-change: transform;
}
.balloon {
    position: absolute;
    width: 1.5%;
    top: 20%;
    left: 60%;
    filter: contrast(1.4) brightness(0.8);
    transform: scaleX(-1);
    z-index: 1;
    will-change: transform;
}
.balloon2 {
    position: absolute;
    width: 7.5%;
    bottom: 0;
    filter: contrast(1.5) brightness(0.7);
    z-index: 3;
    will-change: transform;
}
.bg2, .mountains, .clouds-sunrise {
    width: 100%;
    height: 100vh;
    position: absolute;
    object-fit: cover;
    z-index: 2;
    will-change: transform;
}
.bg2 {
    z-index: 0;
}
.sunrise-title {
    position: absolute;
    top: 30%;
    left: 50%;
    font-size: 6rem;
    transform: translate(-50%, -30%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: url('imgs/stars.jpg');
    background-size: cover;
    z-index: 3;
    will-change: transform;
}

@media(min-width: 2000px) {
    html {
        font-size: 150%;
    }
}
@media(max-width: 700px) {
    html {
        font-size: 70%;
    }
    .moon {
        transform: scale(2);
    }
    .wing {
        width: 50%;
    }
    .balloon {
        left: 30%;
    }
    .balloon2 {
        left: -10%;
    }
}
@media(max-width: 290px) {
    html {
        font-size: 60%;
    }
    .balloon2 {
        left: -20%;
        bottom: -10%;
    }
}
@media(max-width: 1220px) {
    #night, #sunrise {
        top: 3%;
        padding: 3% 10%;
    }
    .moon {
        transform: scale(1);
    }
}